.App {
  text-align: center;
  background-color: lightcyan;
  height: 100vh;
}

.cell {
  height: 50px;
  cursor: pointer;
}



.block {
  display: flex;
}

.objects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.delete {
  height: fit-content;
}



.addCard {
  height: 100px;
  width: 100px;
  cursor: pointer;
  border: 2px solid black;
  background-color: lightsteelblue;
}